{% extends "network/layout.html" %}

{% block body %}
    <h2>Followed posts</h2>
    
    {% for post,like_count,likes in fullposts %}
        <div class="border rounded p-3 mt-3">
            <div style="display: flex; align-items: center;">  
                <img src="{{post.poster.profile.image.url}}" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                <a href="{% url 'profile' post.poster %}"><h4>{{post.poster}}</h4></a>
            </div>            
            <hr>

            <pre style="font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ post.post }}</pre>
            <p>{{post.datetime}}</p>
            {% if not likes %}
                <i class="fa fa-heart-o" style="font-size:20px;color:red" onclick="heart('{{post.id}}', this)"></i><span class="ml-2">{{ like_count }}</span>
            {% else %}
                <i class="fa fa-heart" style="font-size:20px;color:red" onclick="heart('{{post.id}}', this)"></i><span class="ml-2">{{ like_count }}</span>
            {% endif %}

            <i class="fa-regular fa-comment fa-lg mx-2" style="cursor: pointer; font-size: 20px;" onclick="window.location='post/'+ '{{post.id}}';"></i>

            {% if user.is_authenticated %}
            {% if user == post.poster %}
                <i class="fa-solid fa-pen-to-square mx-2" onclick="edit('{{post.id}}',this)", style="cursor: pointer; font-size: 20px;"></i>
                <i class="fa fa-trash mx-2" onclick="deletepost('{{post.id}}',this)" style="cursor: pointer; font-size: 20px;"></i>
            {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    <hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
            {% endif %}

            {% if page_obj.number > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.number < page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
        
{% endblock %}