{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div class="border rounded p-3 form-group">
            <h4>New Post</h4>
            <form action="/add_post" method="post">
                {% csrf_token %}
                <textarea class="form-control" name="body"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Post</button>
            </form>
        </div>
    {% endif %}
    
    {% for post,like_count,likes in fullposts %}
        <div class="border rounded p-3 mt-3">
            <a href="{% url 'profile' post.poster %}"><h4>{{post.poster}}</h4></a>
            <hr>
            {% if user.is_authenticated %}
                {% if user == post.poster %}
                    <!-- Edit btn -->
                    <button type="button" class="btn btn-outline-primary my-2" onclick="edit('{{post.id}}',this)">Edit</button>
                    <button type="button" class="btn btn-outline-primary my-2" onclick="deletepost('{{post.id}}',this)" style="float: right;">Delete</button>

                {% endif %}
            {% endif %}
            <pre style="font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ post.post }}</pre>
            <p>{{post.datetime}}</p>
            {% if not likes %}
                <p><i class="fa fa-heart-o" style="font-size:20px;color:red" onclick="heart('{{post.id}}', this)"></i><span class="ml-2">{{ like_count }}</span></p>
            {% else %}
                <p><i class="fa fa-heart" style="font-size:20px;color:red" onclick="heart('{{post.id}}', this)"></i><span class="ml-2">{{ like_count }}</span></p>
            {% endif %}
            <p>Comment</p>
        </div>
    {% endfor %}
    <hr>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
            {% endif %}

            {% if page_obj.number > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.number < page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}